*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #23395d;
    color: #fff;
    top: 0em;
    left: 0em;
    right: 0em;
    height: 100px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    padding-top: 5px;
}

p{
    margin-bottom: 50px;
}

a{
    color: #23395d;
}

a:link{
    text-decoration: none;
}

a:hover{
    background-color: #23395d;
    color: #fff;
    text-decoration: none;
}

a:active{
    background-color: #23395d;
}

li{
    list-style: none;
}

div.container-fluid{
    background-color: #eee;
}

div a{
    background-color: #eee;
    top: 0em;
    left: 0em;
    right: 0em;
    height: 100px;
    justify-self: center;
    justify-content: center;
    display: flex;
    padding: 35px 35px;
}

div p{
    padding: 15px;
}

footer{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #23395d;
    color: #fff;
    text-align: center;
    height: 50px;
}

footer p{
    padding-top:15px;
}

img{
    width: 100%;
    padding-bottom: 10px;
}

.card{
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 70px;
}

/* Phone */
@media (min-width: 576px){

}


/* Tablet */
@media (min-width: 768px){

}

/* Desktop */
@media (min-width: 960px){

}
